<div class="ui breadcrumb">
    <a class="section" href = '/profile/'>Профиль</a>
    <div class="divider"> / </div>
    <div class="active section">Тестируемые</div>
</div>
{% include 'includes/testeds_filter.html' %}
{% verbatim %}
<div class="ui styled attached fluid accordion">
    <div class="active title">
        <i class="dropdown icon"></i>
        Найденно - {{ filteredTesteds.length }}
    </div>
    <div class="active content">
        <table class = "ui compact celled definition table">
            <thead class="full-width">
                <th ng-click = "sortByField('option.number')">
                    <a href="">Вариант</a>
                    <i class="caret up icon" ng-if = "filters.sortField == 'option.number' && !filters.reverse"></i>
                    <i class="caret down icon" ng-if = "filters.sortField == 'option.number' && filters.reverse"></i>
                    <i class="filter icon"></i>
                </th>
                <th ng-click = "sortByField('user.study_group.name')">
                    <a href="">Группа</a>
                    <i class="caret up icon" ng-if = "filters.sortField == 'user.study_group.name' && !filters.reverse"></i>
                    <i class="caret down icon" ng-if = "filters.sortField == 'user.study_group.name' && filters.reverse"></i>
                    <i class="filter icon"></i>
                </th>
                <th ng-click = "sortByField('user.last_name')">
                    <a href="">Тестируемый</a>
                    <i class="caret up icon" ng-if = "filters.sortField == 'user.last_name' && !filters.reverse"></i>
                    <i class="caret down icon" ng-if = "filters.sortField == 'user.last_name' && filters.reverse"></i>
                    <i class="filter icon"></i>
                </th>
                <th ng-click = "sortByField('mark')">
                    <a href="">Оценка</a>
                    <i class="caret up icon" ng-if = "filters.sortField == 'mark' && !filters.reverse"></i>
                    <i class="caret down icon" ng-if = "filters.sortField == 'mark' && filters.reverse"></i>
                    <i class="filter icon"></i>
                </th>
                <th ng-click = "sortByField('precent')">
                    <a href="">Процент(%)</a>
                    <i class="caret up icon" ng-if = "filters.sortField == 'precent' && !filters.reverse"></i>
                    <i class="caret down icon" ng-if = "filters.sortField == 'precent' && filters.reverse"></i>
                    <i class="filter icon"></i>
                </th>
                <th ng-click = "sortByField('date')">
                    <a href="">Дата</a>
                    <i class="caret up icon" ng-if = "filters.sortField == 'date' && !filters.reverse"></i>
                    <i class="caret down icon" ng-if = "filters.sortField == 'date' && filters.reverse"></i>
                    <i class="filter icon"></i>
                </th>
                <th></th>
            </thead>
            <tbody>
                <tr ng-repeat = "tested in data.testeds |filter:dateRangeFilter(filters.date.first,filters.date.last)
                    | filter : {
                        user : { last_name: filters.lastName, study_group : { id : filters.group, course : filters.course, specialization : {code: filters.specialization} } },
                        option : {id : filters.option},
                        mark : filters.mark
                    } |orderBy:filters.sortField:filters.reverse as filteredTesteds">
                    <td>{{ tested.option.number }}</td>
                    <td>{{ tested.user.study_group.name }}</td>
                    <td>{{ tested.user.last_name }} {{ tested.user.first_name }}</td>
                    <td>{{ tested.mark }}</td>
                    <td>{{ tested.precent }} %</td>
                    <td>
                        <a class="ui teal label">
                            {{ tested.date | date : 'dd.MM.yyyy'}}
                            <div class="detail">{{ tested.date | date : 'HH:mm:ss'}}</div>
                        </a>
                    </td>
                    <td>
                        <div class="ui buttons">
                            <a class="ui icon button" ng-click="printResultTested(tested.id)">
                                <i class="print icon"></i>
                            </a>
                            <a class="ui twitter button" href="#/{{ tested.id }}">
                                Подробнее
                            </a>
                        </div>

                        <form method="post" id = "printResultTested"></form>
                    </td>
                </tr>
            </tbody>
        {% endverbatim %}
        </table>
    </div>
</div>
<button class="ui bottom fluid attached google plus button" ng-click = "sendTesteds()">Отчет</button>
