<div class="ui breadcrumb">
    <a class="section" href = '/profile/'>Профиль</a>
    <div class="divider"> / </div>
    <div class="active section">Тестируемые</div>
</div>
{% include 'includes/testeds_filter.html' %}
{% verbatim %}
<h2>Найденно - {{ filteredTesteds.length }}</h2>
<table class = "ui compact celled definition table">
    <thead class="full-width">
        <th>Вариант</th>
        <th>Группа</th>
        <th>Тестируемый</th>
        <th>Оценка</th>
        <th>Процент(%)</th>
        <th>Дата</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat = "tested in data.testeds |filter:dateRangeFilter(filters.date.first,filters.date.last)
            | filter : {
                user : { study_group : { id : filters.group, course : filters.course, specialization : {code: filters.specialization} } },
                option : {id : filters.option},
                mark : filters.mark
            } as filteredTesteds ">
            <td>{{ tested.option.number }}</td>
            <td>{{ tested.user.study_group.name }}</td>
            <td>{{ tested.user.last_name }} {{ tested.user.first_name }}</td>
            <td>{{ tested.mark }}</td>
            <td>{{ tested.precent }} %</td>
            <td>{{ tested.date | date : 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>
                <button class="ui icon blue button" ng-click="printResultTested(tested.id)">
                    <i class="print icon"></i>
                </button>
                <a class="ui green button" href="#/{{ tested.id }}">
                    Подробнее
                </a>
                <form method="post" id = "printResultTested"></form>
            </td>
        </tr>
    </tbody>
{% endverbatim %}
    <tfoot class="full-width">
        <tr>
            <th colspan="7">
                <button class="ui red inverted button" ng-click = "sendTesteds()">Отчет</button>
            </th>
        </tr>
    </tfoot>
</table>
