{% extends 'main.html' %}

{% block content %}
<div class="ui grid">
	<div class="two wide column"></div>
	<div class="twelve wide column">
		<div class="ui divided items">
		{% for test in tests %}
			<div class="item">
				<div class="content">
					<a href="/tests/{{test.id}}/" class="header">{{test.title}}</a>
					<div class="description">
						<p>
							{{test.description}}
						</p>
					</div>
					<div class="extra">
						<div class="ui basic right floated teal  buttons">
							<a href ="/constructor/test/{{test.id}}/settings/" class = "ui button">
								<i class="settings chevron icon"></i>
								Настройки
							</a>
							<a href ="results/{{test.id}}/" class = "ui button">
								Результаты
								<i class="right chevron icon"></i>
							</a>
						</div>
						
						<div class="ui label">{{test.category}}</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
	<div class="two wide column"></div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}