{% verbatim %}
<div class="ui grid">
	<div class="two wide column"></div>
	<div class="twelve wide column">
		<div class="ui vertical center aligned segment" ng-show = "!currentOption">
			<div class="ui huge header">
				{{test.title}}
				<div class="sub header">{{test.description}}</div>
			</div>
		</div>
		<div  id = "content">
            <p></p>
            <!-- Выбор варианта -->
            <div class="ui cards" ng-hide="currentOption">
                <div class="card" ng-repeat = "option in test.options">
                    <div class="content">
                        <a class="header">{{ $index + 1}} вариант</a>
                        <div class="met">Количество вопросов : {{ option.questions.length }}</div>
                    </div>
                    <div class="extra content">
                        <div class="ui basic green button" ng-click = "startTest(option)">
                            Начать
                        </div>
                        <div class="ui basic icon blue button" ng-if = "option.time">
                            <i class="dashboard icon"></i>
                            {{ option.time }} мин
                        </div>
                        <div class="ui basic icon blue button" ng-if = "test.time_completion && !option.time">
                            <i class="dashboard icon"></i>
                            {{ option.time }} мин
                        </div>
                        <div class="ui basic icon blue button" ng-if = "!test.time_completion && !option.time">
                            <i class="dashboard icon"></i>
                            Неограниченно
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <a class="ui left labeled icon inverted blue button" href="#/" ng-hide="currentOption">
                <i class="left arrow icon"></i>
                К Тестам
            </a>
            <!-- конецВыбораВарианта -->
            <!-- Тестирование -->
            <div class="ui breadcrumb" ng-show = "currentOption">
                <a class="section" href="#/">Тесты</a>
                <span class="divider">/</span>
                <a class="section" ng-click="optionsBack()">Варианты</a>
                <i class="right arrow icon divider"></i>
                <div class="active section">{{ test.title }} ({{ currentOption.number }} вариант)</div>
            </div>
            <div class="ui card fluid" ng-show = "currentOption && !mark">
                <div class="content">
                    <div class="header">{{ currentQuestion.text }}</div>
                    <div class="meta">
                        {{ currentIndexQuestion + 1 }} из {{ currentOption.questions.length }}
                    </div>
                    <div class="ui large list">
                        <div class="item" ng-repeat = "answer in currentQuestion.answers">
                            <div class="content">
                                <div class="ui toggle checkbox">
                                    <input id = "{{ answer.id }}" type="checkbox" ng-model = "answer.selected">
                                    <label for = "{{ answer.id }}">{{ answer.text }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="extra content">
                    <div class="ui buttons">
                        <div class="ui left labeled icon blue button" ng-click="back()">
                            <i class="left arrow icon"></i>
                            Назад
                        </div>
                        <button class="ui basic grey button">{{ time }}</button>
                        <div class="ui right labeled icon green button" ng-click = "next()" ng-show="currentIndexQuestion != currentOption.questions.length - 1">
                            <i class="right arrow icon"></i>
                            Далее
                        </div>
                    </div>

                    <button class="ui right floated red button" ng-click = "checkTest()">
                        Закончить
                    </button>
                    <div class="ui right floated twitter icon button" ng-click = "restart()">
                        <i class="undo icon"></i>
                    </div>
                    <button class="ui right floated teal icon button" ng-click = "showHelp()">
                        <i class="help icon"></i>
                    </button>
                </div>
            </div>
            <!-- конецТестирования-->
            <!-- Вывод результатов -->
            <div id="result" ng-show = "mark">
                <div class="ui attached {{ color }} message">
                    <div class="header">
                        Ваша оценка - {{ mark }}
                    </div>
                    <ul class="list">
                        <li>Вы набрали: <b>{{ testData.point }}</b> баллов из <b>{{ testData.maxPoint }}</b></li>
                        <li>Вы набрали: <b>{{ testData.percent }}</b> процентов из <b>100</b></li>
                    </ul>
                </div>
                <table class="ui celled attached table">
                    <thead>
                        <th>Вопрос</th>
                        <th>Ответы</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat-start = "question in currentOption.questions">
                            <td rowspan="{{ question.answers.length + 1 }}">{{ question.text }}</td>
                        </tr>
                        <tr ng-repeat-end ng-repeat = "answer in question.answers">
                            <td ng-if = "answer.error && !answer.correct" class = "negative">
                                <i class="icon close"></i>
                                {{ answer.text }}
                            </td>
                            <td ng-if = "answer.success" class="positive">
                                <i class="icon checkmark"></i>
                                {{ answer.text }}
                            </td>
                            <td ng-if = "answer.correct && !answer.selected" class = "warning">
                                <i class="icon circular checkmark"></i>
                                {{ answer.text }}
                            </td>
                            <td ng-if = "!answer.correct && !answer.error">
                                {{ answer.text }}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <th colspan="2">
                            <div class="ui right floated small primary labeled icon button" ng-click = "restart()">
                                <i class="undo icon"></i> Пройти снова
                            </div>
                            <a class="ui small button" href="#/">
                                К тестам
                            </a>
                            <div class="ui small button" ng-click = "optionsBack()">
                                К вариантам
                            </div>
                        </th>
                    </tfoot>
                </table>
            </div>
            <!-- конецВыводаРезультатов -->
		</div>
	</div>
	<div class="two wide column"></div>
</div>
{% endverbatim %}