{% verbatim %}
<div class="ui grid">
    <div class="two wide column"></div>
    <div class="twelve wide column">
        <form>
            <div class="field">
                <div class="ui big icon input fluid">
                    <input type="text" autocomplete="off" placeholder="Поиск по названию..." ng-model = "filters.name">
                    <i class="search icon"></i>
                </div>
            </div>
        </form>
    </div>
    <div class="two wide column"></div>
</div>
<p></p>
<div class="ui internally celled grid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            <div class="ui divided items">
                <div class="item" ng-repeat = "test in data.tests | filter : {
                    title : filters.name,
                    category : {url : filters.category}
                }">
                  <div class="content">
                    <a class="header" href="#/{{ test.id }}">{{test.title}}</a>
                    <p class="description">{{test.description}}</p>
                    <a class="ui tag label"
                       ng-click = "setCategory(test.category.url)"
                       ng-class = "{'teal': test.category.url == filters.category}"
                    >
                        {{test.category.name}}
                    </a>
                  </div>
                </div>
            </div>
        </div>
        <div class="two wide column">
            <div class="ui vertical text menu">
                <div class="header item">Категории</div>
                <a class="item" ng-repeat = "category in data.categories"
                   ng-class = "{'active teal': category.url == filters.category}"
                   ng-click = "setCategory(category.url)"
                >
                    {{ category.name }}
                </a>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}