{% verbatim %}
<div class="ui vertical menu">
    <div class="item">
        <div class="header">Специализации</div>
        <div class="menu">
            <a class="item" ng-repeat = "spec in data.specs" ng-class = "{active: filters.specialization == spec.code}" ng-click="setSpec(spec.code)">
                {{ spec.name }}
            </a>
        </div>
    </div>
    <div class="item">
        <div class="header">Курсы</div>
        <div class="menu">
            <a class="item" ng-repeat = "course in data.courses" ng-class = "{active: filters.course == course.id}" ng-click="setCourse(course.id)">
                {{ course.name }}
            </a>
        </div>
    </div>
</div>
{% endverbatim %}