<div class = 'ui animated list'>
	<div class="item">
		<div class="content">
			<div class="header">
				<i class="bookmark empty icon"></i>
				Ответов:
				<a class = 'ui red label'>{{item.answers.all}}</a>
			</div>
		</div>
	</div>
	<div class="item">
		<div class="content">
			<div class="header">
				<i class="checkmark sign icon"></i>
				Правильных: 
				<a class = 'ui green label'>{{item.answers.correct}}</a>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="content">
			<div class="header">
				<i class="star icon"></i>
				Баллы за ответ: 
				<a class = 'ui black label'>{{item.query.point}}</a>
			</div>
		</div>
	</div>

	<div class="item">
		<div class="content">
			<div class="header">
				<i class="help icon"></i>
				Подсказка:
				{% if item.query.help %}
				<a class = 'ui teal label'>ДА</a>
				{% else %}
				<a class = 'ui purple label'>НЕТ</a>
				{% endif %} 
			</div>
		</div>
	</div>
</div>	