{% extends 'main.html' %}

{% block content %}
	<div class="ui grid">
		<div class="two wide column"></div>
		<div class="fourteen wide column">

			<h1 class="ui inverted black block header">
				Тест : "{{test.title}}"
			</h1>

			<div class="ui steps">
				<div class="ui step" data-testID = "{{test.id}}" id = 'settings'>
					Настройки
				</div>
				<div class="ui active step">
					Вопросы
				</div>
			</div>

			<div class="ui segment">

				<div class="ui items">
				{% for item in queries %}
					<div class="item">
						<div class="image">
							<a class="like ui corner label" data-id = "{{item.query.id}}">
								<i class="remove icon"></i>
							</a>
						</div>
						<div class="content">
							<div class="name">
								Вопрос
							</div>
							{{item.query.text|slice:":20"}}...?
							{% include 'test/query_items.html' %}
							<a href = "edit/{{item.query.id}}/" class="ui button green fluid">
								Подробнее
							</a>
						</div>	
					</div>
				{% endfor %}
				<div class="item">
					<div class="content">
						<div class="ui icon center aligned header">
							<i class="circular question icon"></i>Вопрос
						</div>
						<a href="add/" class="ui button fluid">Добавить</a>
					</div>	
				</div>
				</div>
			</div>	
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script>
	$('.like.corner').on('click', function(){
		var queryID = $(this).attr('data-id');
		swal({
			title: 'Удалить вопрос',
			text: 'Вы точно хотите удалить данный вопрос?',
			type: 'warning',
			showCancelButton: true,
			confirmButtonColor: "#DD6B55",
			confirmButtonText: 'Да, удалить его!',
			cancelButtonText: 'Нет, не надо!',
			closeOnConfirm: false,   
			closeOnCancel: false
			},

			function(isConfirm){
				if(isConfirm){
					window.location.assign('delete/' + queryID + '/')
				}else{
					swal("Отмена", "Данный вопрос не будет удален :)", "error");
				}
			});
	});

	$('#settings').on('click', function(){
		testID = $(this).attr('data-testID');
		window.location.assign('/constructor/test/' + testID + '/settings/')
	})
</script>
{% endblock %}