{% extends 'main.html' %}

{% block content %}
	<div class="ui grid">
		<div class="two wide column"></div>
		<div class="fourteen wide column">
			<div class="ui segment">
				<h1 class="ui header">
					Тест : "{{test.title}}""
				</h1>

				<div class="ui items">
				{% for item in queries %}
					<div class="item">
						<div class="content">
							<div class="name">
								Вопрос
							</div>
							{{item.query.text}}
							
							{% include 'test/query_items.html' %}
						</div>	
					</div>
				{% endfor %}
				</div>

			</div>	
		</div>
	</div>
{% endblock %}