<div class="ui steps" data-testID = "{{test.id}}">
    <a class="ui step {% if optionName == "settings"%} active {% endif %}" data-optionName = 'settings'>
        <i class="setting icon"></i>
        <div class="content">
            <div class="title">
                Настройки
            </div>
        </div>
    </a>
    <a class="ui step {% if optionName == "questions"%} active {% endif %}" data-optionName = "questions">
        <i class="help icon"></i>
        <div class="content">
            <div class="title">
                Вопросы
            </div>
        </div>
    </a>
    <a class="ui step {% if optionName == "access"%} active {% endif %}" data-optionName = "access">
        <i class="lock icon"></i>
        <div class="content">
            <div class="title">
                Доступ
            </div>
        </div>
    </a>
</div>

<script>
    $('.ui.step').on('click', function(){
        var that = $(this);
        var test = that.parent('div').attr('data-testID');
        var option = that.attr('data-optionName');
        window.location.assign('/constructor/test/' + test + '/'+option+'/');
    })
</script>