{% extends 'main.html' %}
{% load static %}

{% block css %}
    <style>
        #auth_form{
            margin-top: 3%;
        }
    </style>
{% endblock %}

{% block content %}
	<div class="ui grid" id="auth_form" ng-app = "appAuth">
        {% csrf_token %}
        {% verbatim %}
		<div class="three wide column"></div>
		<div class="ten wide column" ng-controller="AuthController">
            <div class="ui segment" ng-show="!check.group">
                <div class="ui active dimmer" ng-if="loader" ng-cloak>
                    <div class="ui text loader">Проверка</div>
                </div>
                <div class="ui two column middle aligned very relaxed stackable grid">
                    <div class="column">
                        <h3 class="ui header aligned center">Авторизация</h3>
                        <div class="ui error message" ng-show="auth.error">
                            {{ auth.error }}
                        </div>
                        <div class="ui form">
                            <div class="field" ng-class = "{error: auth.error}">
                                <label>Логин</label>
                                <div class="ui left icon input">
                                    <input type="text" placeholder="Логин" autocomplete="off" ng-model="auth.login">
                                    <i class="user icon"></i>
                                </div>
                            </div>
                            <div class="field" ng-class = "{error: auth.error}">
                                <label>Пароль</label>
                                <div class="ui left icon input">
                                    <input type="password" name="password" ng-model="auth.password">
                                    <i class="lock icon"></i>
                                </div>
                            </div>
                            <button class="ui button" ng-click="authUser()">Вход</button>
                        </div>
                    </div>
                    <div class="ui vertical divider">
                        ИЛИ
                    </div>
                    <div class="center aligned column">
                        <h3 class="ui header aligned center">Регистрация</h3>
                        <div class="ui fluid action input" ng-class = "{ error: check.error }">
                            <input type="text" placeholder="Код вашей группы..." autocomplete="off" ng-model="secret_key">
                            <button class="ui right icon button"
                                    ng-click="searchGroup()"
                                    ng-class = "{teal: !check.error, red: check.error}">
                                <i class="search icon"></i>
                            </button>
                        </div>
                        <div class="ui error message" ng-show="check.error">
                            <div class="header">Ошибка</div>
                            <p>{{ check.error }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment" ng-show="check.group">
                <h2 class="ui header aligned center">Регистрация</h2>
                <div class="ui error message" ng-show="registration.errorMessage">
                    <div class="header">Ошибка!</div>
                    <ui class="list">
                        <li ng-show="registration.errors.login">
                            <b>Логин:</b>
                            {{ registration.errors.login }}
                        </li>
                        <li ng-show="registration.errors.password">
                            <b>Пароль:</b>
                            {{ registration.errors.password }}
                        </li>
                        <li ng-show="registration.errors.firstName">
                            <b>Имя:</b>
                            {{ registration.errors.firstName }}
                        </li>
                        <li ng-show="registration.errors.lastName">
                            <b>Фамилия:</b>
                            {{ registration.errors.lastName }}
                        </li>
                    </ui>
                </div>
                <div class="ui form">
                    <div class="field" ng-class = "{error: registration.errors.login}">
                        <label>Логин</label>
                        <input type="text" placeholder="Логин" ng-model="registration.login">
                    </div>
                    <div class="field" ng-class = "{error: registration.errors.password}">
                        <label>Пароль</label>
                        <input type="password" placeholder="Пароль" ng-model="registration.password">
                    </div>
                    <div class="field" ng-class = "{error: registration.errors.firstName}">
                        <label>Имя</label>
                        <input type="text" placeholder="Имя"  ng-model="registration.firstName">
                    </div>
                    <div class="field" ng-class = "{error: registration.errors.lastName}">
                        <label>Фамилия</label>
                        <input type="text" placeholder="Фамилия" ng-model="registration.lastName">
                    </div>
                    <div class="field">
                        <label>Группа</label>
                        <input type="text" value="{{ check.group.name }}" disabled>
                    </div>
                    <div class="field">
                        <label>Курс</label>
                        <input type="text" value="{{ check.group.course }}" disabled>
                    </div>
                    <div class="field">
                        <label>Специализация</label>
                        <input type="text" value="{{ check.group.specialization.name }}" disabled>
                    </div>
                    <button class="ui blue button" ng-click="registrationUser()">
                        Регистрация
                    </button>
                </div>
            </div>
		</div>
        {% endverbatim %}
		<div class="three wide column"></div>
	</div>



{% endblock %}

{% block scripts %}
    <script src="{% static 'js/vendor/angular.min.js' %}"></script>
    <script src="{% static 'application/auth.js' %}"></script>
{% endblock %}