<div class="ui top inverted fixed menu">
  <a class="item" id ="show_sidebar">
    <i class="sidebar icon"></i>
  </a>
  <div class="right menu">
    {% if login.is_superuser or login.is_staff %}
    <a class="item active red" href = "/admin/">
      Админка
    </a>
    {%endif%}
    {% if login.is_authenticated %}
    <a class="item" href = "/profile/">
        {{login.username|title}}
    </a>
    {% else %}
    <a class="item" href = "/auth/login/">Вход</a>
    {% endif %}
  </div>
</div>

<div class="ui inverted left vertical sidebar labeled icon menu">
    {% if login.is_authenticated %}
    <a class = "item" href="/profile/">
    {% if not login.is_staff and not login.is_superuser%}
        <i class="student icon"></i>
    {% elif login.is_staff and not login.is_superuser %}
        <i class="user icon"></i>
    {% else %}
        <i class="spy icon"></i>
    {% endif %}
        Профиль
    </a>
    {% if login.is_staff or  login.is_superuser %}
    <a class="item" href = '/constructor/'>
    <i class="settings icon"></i>
    Констуктор
    </a>
    {% endif %}
    {% if not login.is_staff and not login.is_superuser%}
    <a class="item" href = '/tests/'>
    <i class="list icon"></i>
    Тесты
    </a>
    {% endif %}
    <a class="item" href="/auth/logout/">
        <i class="sign out icon"></i>
        Выход
    </a>
    {% endif %}

</div>
