<div class="ui top inverted fixed menu">
  <a class="item" id ="show_sidebar">
    <i class="sidebar icon"></i>
  </a>
  <div class="right menu">
    {% if login.is_superuser or login.is_staff %}
    <a class="item active red" href = "/admin/">
      Админка
    </a>
    {%endif%}
    {% if login.is_authenticated %}
    <a class="item" href = "/profile/">{{login.username}}</a>
    <a class="item" href = "/auth/logout/">Выход</a>
    {% else %}
    <a class="item" href = "/auth/login/">Вход</a>
    {% endif %}
  </div>
</div>

<div class="ui inverted left vertical sidebar labeled icon menu">
  <a class="item" href = "/">
    <i class="home icon"></i>
    Главная
  </a>
  <a class="item" href = '/tests/'>
    <i class="list icon"></i>
    Тесты
  </a>
  <a class="item" href = '/analytics/'>
    <i class="area chart icon"></i>
    Аналитика
  </a>
  {% if login.is_authenticated %}
  <a class="item" href = '/constructor/'>
    <i class="settings icon"></i>
    Констуктор
  </a>
  {% endif %}
</div>
