{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Конструктор тестов</title>
	<!--<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>-->
	
	<link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
	{%block css%}{%endblock%}

	<script src = "{% static 'library/jquery-2.1.4.min.js' %}"></script>
	<script src = "{% static 'library/underscore-min.js' %}"></script>
	<script src = "{% static 'library/backbone-min.js' %}"></script>
	<script src = "{% static 'library/semantic.min.js' %}"></script>
	<script src = "{% static 'library/sweetalert.min.js' %}"></script>
	{%block library%}{%endblock%}
</head>
<body>
	{% include 'includes/header.html' %}
	<div class="ui grid">
		<div class="eight wide column"></div>
		<div class="eight wide column"></div>
	</div>
	<div class="ui grid">
		<div class="eight wide column"></div>
		<div class="eight wide column"></div>
	</div>
	{% block content %}{% endblock %}
	{% block scripts %}{% endblock %}
	<script>
        $(document).ready(function(){
            $('#login').popup({
                on: 'hover',
                position: 'right center',
                content: 'Авторизироваться в системе'
            });

            $('.ui.checkbox').checkbox();
            $('select.dropdown').dropdown();
            $('.ui.dropdown').dropdown();
            $('.ui.accordion').accordion();


            $('#show_sidebar').click(function(){
                $('.ui.sidebar')
                    //.sidebar('setting', 'transition', 'overlay')
                    .sidebar('toggle')

            })

		    $('.menu.item.tabular').tab()
        })

	</script>
</body>
</html>