{% extends 'main.html' %}

{% block content %}
	<div class="ui grid">
		<div class="two wide column"></div>
		<div class="twelve wide column">

			<h4 class="ui top medium attached header">
			  Тест: "{{test.title}}"
			</h4>
			<div class="ui attached segment" id = 'query_settings' data-question = "{{question.id}}" data-test = "{{test.id}}">
				{% include 'create_query.html' %}
			</div>	
		</div>
		<div class="two wide column"></div>
	</div>
{% endblock %}

{% block scripts %}
	<script type = 'underscore_template' id = 'answerTemplate'>
		<td>
			<div class="ui toggle checkbox">
			<% if (correct) { %>
			<input type="checkbox" checked>
			<% }else {%>
			<input type="checkbox">	
			<% }%>
			<label></label>
			</div>
		</td>
		<td>
			<div class="field">
			<input type="text" value = "<%- text %>">
			</div>
		</td>
		<td>
			<div class="circular ui icon button">
			<i class="icon remove"></i>
			</div>
		</td>
	</script>
	{% load static %}

	{% if question %}
	<script src = '{% static "application/edit_question.js" %}'></script>
	{% else %}
	<script src = '{% static "application/query_settings.js" %}'></script>
	{% endif %}
	
{% endblock %}