{% extends 'main.html' %}

{% block content %}
<div class="ui grid">
	<div class="two wide column"></div>
	<div class="twelve wide column">
		<div class="ui segment red" id = 'test_settings'>
			<div class="ui ribbon teal label">Beta версия</div>
			<h2 class="ui center aligned icon header">
				<i class="circular settings icon"></i>
				Конструктор тестов
				{% if test %}
				<div class="sub header">Тест "{{test.title}}"</div>
				{% endif %}
			</h2>
			
			{% if test %}
			<div class="ui steps">
				<a class="ui active step">
					<i class="setting icon"></i>
					<div class="content">
						<div class="title">
							Настройки
						</div>
					</div>	
				</a>
				<a class="ui step" data-testID = "{{test.id}}" id = "questions">
					<i class="help icon"></i>
					<div class="content">
						<div class="title">
							Вопросы
						</div>
					</div>		
				</a>
			</div>
			{% endif %}
			
			{% include 'settings.html' %}
			{% if test %}
			<button class="ui button" id = 'edit_test' data-testID = "{{test.id}}">Сохранить</button>
			{% else %}
			<button class="ui button" id = 'create_test'>Создать</button>
			{% endif %}
			
		</div>
	</div>
	<div class="two wide column"></div>
</div>
{% endblock %}

{% block scripts %}
	{% load static %}
	<script src = "{% static 'application/test_settings.js' %}"></script>
{% endblock %}