{% extends 'main.html' %}

{% block content %}
<div class="ui grid">
	<div class="two wide column"></div>
	<div class="twelve wide column">
		<div class="ui segment red" id = 'test_settings'>
			<div class="ui ribbon teal label">Beta версия</div>
			<h2 class="ui center aligned icon header">
				<i class="circular settings icon"></i>
				Конструктор тестов
				{% if test %}
				<div class="sub header">Тест "{{test.title}}"</div>
				{% endif %}
			</h2>
			
			{% if test %}
			    {% include 'test/test_menu.html' %}
			{% endif %}
			
			{% include 'settings.html' %}
			{% if test %}
			<button class="ui button" id = 'edit_test' data-testID = "{{test.id}}">Сохранить</button>
			{% else %}
			<button class="ui button" id = 'create_test'>Создать</button>
			{% endif %}
			
		</div>
	</div>
	<div class="two wide column"></div>
</div>
{% endblock %}

{% block scripts %}
	{% load static %}
	<script src = "{% static 'application/test_settings.js' %}"></script>
{% endblock %}