<div class="ui secondary segment">
  <div class="ui form relaxed divided list">
    <div class="item">
      <div class="header">Название</div>
      <div class="field">
          <input type="text" autocomplete = "off" name = 'title' placeholder="Название теста" value = "{{test.title}}">
      </div>
    </div>
    <div class="item">
      <div class="header">Категория</div>
      <div class="field">
          <select name="category" class="ui search dropdown">
            {% for category in login.subjects.all %}
              {% if category == test.category %}
              <option value="{{category.id}}" selected>{{category.name}}</option>
              {% else %}
              <option value="{{category.id}}">{{category.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
      </div>
    </div>
    <div class="item">
      <div class="header">Описание</div>
      <div class="field">
        <textarea name="description" placeholder = 'Краткое описание теста' data-desc = "{{test.description}}"></textarea>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Подсказки</div>
        <div class="ui slider checkbox">
          <input type="checkbox" name="help" {% if test.helps %} checked {% endif %}>
          <label>Возможность добавлять пояснения к вопросам</label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Временные рамки</div>
        <div class="ui slider checkbox">
          <input type="checkbox" name="time" {% if test.time_completion %} checked {% endif %}>
          <label>Ограниченное время сдачи теста</label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Публичный доступ</div>
        <div class="ui slider checkbox">
          <input type="checkbox" name="public_access" {% if test.public_access %} checked {% endif %}>
          <label>Открывает пользователям доступ к вашему тесту</label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="header">Количество вопросов в тесте</div>
      <div class="field">
          <input type="number" name = 'quest_count' placeholder="Введите количество вопросов" value = "{{test.questions_count}}">
      </div>
    </div>
    <div class="item">
        <div class="header">Расчет результатов</div>
        <div class="field">
          {% include 'table_results.html'%}
        </div>
    </div>
  </div>
</div>