<div class="ui secondary segment">
  <div class="ui form relaxed divided list">
    <div class="item">
      <div class="header">Название</div>
      <div class="field">
          <input type="text" autocomplete = "off" name = 'title' placeholder="Название теста" value = "{{test.title}}">
      </div>
    </div>
    <div class="item">
      <div class="header">Категория</div>
      <div class="field">
          <select name="category">
            {% for category in login.subjects.all %}
              {% if category == test.category %}
              <option value="{{category.id}}" selected>{{category.name}}</option>
              {% else %}
              <option value="{{category.id}}">{{category.name}}</option>
              {% endif %}
            {% endfor %}
          </select>
      </div>
    </div>
    <div class="item">
      <div class="header">Описание</div>
      <div class="field">
        <textarea name="description" placeholder = 'Краткое описание теста' data-desc = "{{test.description}}"></textarea>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Подсказки</div>
        <div class="ui slider checkbox">
          <input type="checkbox" name="help" {% if test.helps %} checked {% endif %}>
          <label>Возможность использования подсказок в тесте</label>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header">Ограниченное время сдачи теста(в минутах)</div>
        <div class="field">
          <input type="number" name = 'time' placeholder="Введите время" value = "{{test.time_completion}}">
        </div>
      </div>
    </div>
    <div class="item">
        <div class="header">Расчет результатов</div>
        <div class="field">
          {% include 'table_results.html'%}
        </div>
    </div>
  </div>
</div>