{% extends 'main.html' %}
{% load static %}

{%block library%}
    <script src="{% static 'js/vendor/angular.min.js' %}"></script>
{%endblock%}

{% block scripts %}
    <script src="{% static 'application/test_access.js' %}"></script>
{% endblock %}

{% block content %}
<div class="ui grid" ng-app = "testAccess">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <h1 class="ui inverted black block header">
            Тест : "{{test.title}}"
        </h1>


        {% include 'test/test_menu.html' %}
        <div class="ui grid" ng-controller = "groupsAccess">
            <div class="two wide column">
                {% include 'test/access_filter.html' %}
            </div>
            <div class="two wide column"></div>
            {% verbatim %}
            <div class="twelve wide column">
                <div class="ui segments">
                    <!-- Фильтр статуса -->
                    <div class="ui three top attached buttons">
                        <div class="ui tertiary inverted blue button" ng-class = "{active: filters.access === ''}" ng-click="setAccess('')">
                            <i class="ellipsis vertical icon"></i>
                            Все
                        </div>
                        <div class="ui tertiary inverted green button" ng-class = "{active: filters.access === true}" ng-click="setAccess(true)">
                            <i class="check circle outline icon"></i>
                            Активные
                        </div>
                        <div class="ui tertiary inverted red button" ng-class = "{active: filters.access === false}" ng-click="setAccess(false)">
                            <i class="minus circle icon"></i>
                            Нет Доступа
                        </div>
                    </div>
                    <div class="ui attached segment">
                        <div class="ui icon fluid input">
                            <input type="text" name="search" placeholder="поиск..." autocomplete="off" ng-model = "filters.name">
                            <i class="circular search link icon"></i>
                        </div>
                    </div>
                    <!-- Группы -->
                    <div class="ui attached segment"
                        ng-repeat = "group in data.groups
                        | filter: {name: filters.name, specialization : {code: filters.specialization} , course: filters.course, access: filters.access}"
                    >

                        <div class="item">
                            <div class="content">
                                <div class="ui checkbox">
                                    <input id="{{ group.id }}" type="checkbox" ng-model = "group.access" ng-change = "changeAccess(group)">
                                    <label for = "{{ group.id }}">
                                        <h2 class = "ui header"><a>{{ group.name }}</a></h2>
                                    </label>
                                </div>

                                <div class="extra">
                                    <div class="ui label" ng-class = "{teal: group.access == true}">{{ group.specialization.name }}</div>
                                    <div class = "ui label" ng-class = "{teal: group.access == true}">{{ group.course }} курс</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui red bottom attached button" ng-click = "closeAllAccess()">
                        <i class="remove circle outline icon"></i>
                        Закрыть всем доступ
                    </div>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>
    <div class="one wide column"></div>
</div>
{% endblock %}