{% verbatim %}
<div class="row">
<div class="col s12">
  <div class="card">
    <div class="card-image">
      <img src="/static/images/sydney-opera-house-sunset.jpg">
      <span class="card-title">Australia</span>
    </div>
    <div class="card-content">
      <p>Australia, or the Commonwealth of Australia, as it is officially called, is situated on the island continent. It also occupies the Island of Tasmania and some minor islands round the coast of the continent.

It is a highly developed industrial-agrarian country. Its area is about 8 million km2. It is the only state in the world that occupies the territory of a whole continent.

The capital of Australia is Canberra, which became the capital only in 1927.

From 1787 to 1867 Australia was a place where criminals were sent from Britain. That is why the official language of Australia is English.

Almost one half of Australian territory is occupied by deserts and semideserts. For quite a long period of time it was thought to be useless for economic development. But it is rich in coal, iron ore, bauxites, uranium, lead and many other mineral resources.

For almost a century the production and export of sheep wool was the basis of the economy of the country. Now the most important industries are oil, chemical, ore mining, radioelectronics, and food industry. The country exports agricultural products and raw materials.

As for the nature, the commonest trees of Australia are the eucalyptus and the Australian acacia or mimosa, the national emblem of the country. Such unusual animals as a kangaroo or a koala-bear originate from Australia.

Australia is one of the most unusual and exotic countries of the world. A significant feature of modern Australian society is the representation of a lot of cultures drawn from many lands by its people.

Historically part of the British Empire and now a member of a Commonwealth of Nations, it is a relatively prosperous and independent nation.</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Австралия<i class="material-icons right">close</i></span>
      <p>Австралия, или Австралийский Союз, как она официально называется, находится на островном континенте. Она также занимает остров Тасмания и небольшие острова вокруг континентального побережья.

Это весьма развитая индустриально-аграрная страна. Её площадь составляет около 8 млн км2. Это единственное государство в мире, занимающее территорию целого континента.

Столица Австралии- Канберра, стала столицей лишь в 1927 году.

С 1787 по 1867 год Австралия была местом, куда отправлялись преступники из Англии. Именно поэтому официальным языком Австралии является английский.

Почти половину территории Австралии занимают пустыни и полупустыни. В течение довольно долгого времени они считались бесполезными для экономического развития. Но они богаты углём, железной рудой, бокситами, ураном, свинцом и многими другими полезными ископаемыми.

Почти столетие производство и экспорт шерсти овец являлся основой экономики страны. В настоящее время наиболее важными отраслями являются нефтяная, химическая, горнорудная промышленность, радиоэлектроника, а также пищевая промышленность. Страна экспортирует сельскохозяйственную продукцию и сырьё.

Что касается природы, то самыми распространенными деревьями в Австралии являются эвкалипт и австралийская акация, или мимоза, - государственный герб страны. Такие необычные животные, как кенгуру или коала, родом тоже из Австралии.

Австралия является одной из самых необычных и экзотических стран мира. Важной особенностью современного австралийского общества является представительство многих культур, принесённых на континент из разных земель.

Исторически - часть Британской империи, в настоящее время - член Содружества Наций, Австралия является процветающей и независимой страной.</p>
    </div>
    <div class="card-action">
      <a href="" class = "activator">Перевод</a>
      <a href="#/test/0/">Пройти тест</a>
    </div>
  </div>
</div>
<div class="col s12">
  <div class="card">
    <div class="card-image">
      <img src="/static/images/kanada.jpg">
      <span class="card-title">Канада</span>
    </div>
    <div class="card-content">
      <p>Канада — государство в Северной Америке, занимает второе место в мире (после России) по площади территории. Омывается Атлантическим, Тихим и Северным Ледовитым океанами и граничит с США. Канаде принадлежит ряд островов - Баффинова Земля, Виктория, Элсмир, Девон, Банкс, Ньюфаундленд и др.
Центральная и восточная области страны занимают равнины, на западе находится мощная горная система Кордильеры. Страна покрыта густой и полноводной речной сетью. Подлинное богатство страны — лесные массивы, состоящие из хвойных пород и занимающие почти половину территории Канады.</p>
    </div>
    <div class="card-action">
      <a href="#">Подробнее</a>
      <a href="#/test/0/">Пройти тест</a>
    </div>
  </div>
</div>
</div>

<!--<div class="collection">
    <a href="#/test/{{ $index }}/" class="collection-item" ng-repeat = "test in tests" ng-click = "testPage($index)">
        {{ test.title }}
    </a>
</div>-->
{% endverbatim %}