{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Тесты по английскому</title>
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script src="{% static 'js/vendor/angular.min.js' %}"></script>
    <script src="{% static 'js/vendor/angular-route.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body ng-app="testProject">
	<nav>
		<div class="nav-wrapper">
			<a href="#/" class="brand-logo center">Тесты по английскому</a>
		</div>
	</nav>
    {% verbatim %}
    <main class="container" ng-controller="main">
        <ng-view></ng-view>
    </main>
    {% endverbatim %}
</body>
</html>