{% verbatim %}
<p></p>
<div class="ui styled fluid accordion">
    <form class="ui form" method="post" id ="testedsForm">
        <div class="title">
            <i class="dropdown icon"></i>
            Фильры
        </div>
        <div class="content">
            <div class = "ui form">
                <h4 class="ui red dividing header">
                    <i class="users icon"></i>
                    <div class="content">
                        Группы и специализации
                    </div>
                </h4>
                <div class="two fields">
                    <div class="field">
                        <label>Специализация</label>
                        <select class="ui search dropdown" ng-model = "filters.specialization" name="spec" ng-change = "changeFilters()">
                            <option value="" selected>Все</option>
                            <option ng-repeat = "spec in data.specializations" value="{{ spec.code }}">
                                {{ spec.name }}
                            </option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Курс</label>
                        <select class="ui search dropdown" ng-model = "filters.course" name="course" ng-change = "changeFilters()">
                            <option value="" selected>Все</option>
                            <option ng-repeat = "course in data.courses" value="{{ course.id}}">
                                {{ course.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label for="">Группа</label>
                    <select class = "ui search dropdown" ng-model = "filters.group" name="group" ng-change = "changeFilters()">
                        <option value="" selected>Все</option>
                        <option
                                ng-repeat = "group in data.groups
                                | filter : {course : filters.course, specialization : {code : filters.specialization} }"
                                value="{{ group.id }}">
                            {{ group.name }}
                        </option>
                    </select>
                </div>
                <h4 class="ui blue dividing header">
                    <i class="ordered list icon"></i>
                    <div class="content">
                        Варианты и отметки
                    </div>
                </h4>
                <div class="two fields">
                    <div class="field">
                        <label>Вариант</label>
                        <select class="ui search dropdown" ng-model = "filters.option" name="option" ng-change = "changeFilters()">
                            <option value="" selected>Все</option>
                            <option ng-repeat = "option in data.options" value="{{ option.id }}" >
                                {{ option.number }}
                            </option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Оценка</label>
                        <select class="ui search dropdown" ng-model = "filters.mark" name="mark" ng-change = "changeFilters()">
                            <option value="" selected>Все</option>
                            <option ng-repeat = "mark in data.marks" value="{{ mark.id}}">
                                {{ mark.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <h4 class="ui green dividing header">
                    <i class="dashboard icon"></i>
                    <div class="content">
                        Промежуток времени
                    </div>
                </h4>
                <div class="two fields">
                    <div class="field">
                        <label>Дата От</label>
                        <input type="date" ng-model = "filters.date.first" name="dateF" ng-change = "changeFilters()"/>
                    </div>
                    <div class="field">
                        <label>Дата До</label>
                        <input type="date" ng-model = "filters.date.last" name="dateL" ng-change = "changeFilters()"/>
                    </div>
                </div>
                <input type="hidden" name="testeds"/>
            </div>
        </div>
    </form>
</div>
{% endverbatim %}