{% verbatim %}
<div class="ui segment">
    <div class = "ui form">
        <h4 class="ui red dividing header">
            <i class="users icon"></i>
            <div class="content">
                Группы и специализации
            </div>
        </h4>
        <div class="two fields">
            <div class="field">
                <label>Специализация</label>
                <select class="ui search dropdown" ng-model = "filters.specialization">
                    <option value="" selected>Все</option>
                    <option ng-repeat = "spec in data.specializations" value="{{ spec.code }}" >
                        {{ spec.name }}
                    </option>
                </select>
            </div>
            <div class="field">
                <label>Курс</label>
                <select class="ui search dropdown" ng-model = "filters.course">
                    <option value="" selected>Все</option>
                    <option ng-repeat = "course in data.courses" value="{{ course.id}}">
                        {{ course.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="field">
            <label for="">Группа</label>
            <select class = "ui search dropdown" ng-model = "filters.group">
                <option value="" selected>Все</option>
                <option
                        ng-repeat = "group in data.groups
                        | filter : {course : filters.course, specialization : {code : filters.specialization} }"
                        value="{{ group.id }}">
                    {{ group.name }}
                </option>
            </select>
        </div>
        <h4 class="ui blue dividing header">
            <i class="ordered list icon"></i>
            <div class="content">
                Варианты и отметки
            </div>
        </h4>
        <div class="two fields">
            <div class="field">
                <label>Варианты</label>
                <select class="ui search dropdown" ng-model = "filters.option">
                    <option value="" selected>Все</option>
                    <option ng-repeat = "option in data.options" value="{{ option.id }}" >
                        {{ option.number }}
                    </option>
                </select>
            </div>
            <div class="field">
                <label>Отметки</label>
                <select class="ui search dropdown" ng-model = "filters.mark">
                    <option value="" selected>Все</option>
                    <option ng-repeat = "mark in data.marks" value="{{ mark.id}}">
                        {{ mark.name }}
                    </option>
                </select>
            </div>
        </div>
        <h4 class="ui green dividing header">
            <i class="dashboard icon"></i>
            <div class="content">
                Промежуток времени
            </div>
        </h4>
        <div class="two fields">
            <div class="field">
                <label>Дата От</label>
                <input type="date" ng-model = "filters.date.first"/>
            </div>
            <div class="field">
                <label>Дата До</label>
                <input type="date" ng-model = "filters.date.last"/>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}