{% verbatim %}
<div class="ui card">
  <div class="image">
      <img src="{{ image }}" ng-show="image" alt="Пользователь"/>
  </div>
  <div class="content">
    <a class="header">{{ data.user.last_name }} {{ data.user.first_name }}</a>
    <div class="meta" ng-if="data.user.is_staff && data.user.subjects">
        Преподаваемые предметы:
    </div>
    <div class="description">

        <div class="ui list" ng-if="data.user.subjects">
            <div class="item" ng-repeat = "subject in data.user.subjects" ng-if="subject.url != ''">
                <a>
                    <i class="book icon"></i>
                    {{ subject.name }}
                </a>
            </div>
        </div>

        <div class="ui list" ng-if="data.user.study_group">
            <div class="item">Группа: {{ data.user.study_group.name }}</div>
            <div class="item">Курс: {{ data.user.study_group.course }}</div>
            <div class="item">Специализация: {{ data.user.study_group.specialization.name }}</div>
        </div>
    </div>
  </div>
  <div class="extra content">
    <div class="ui list">
        <div class="item" ng-if="!data.user.is_staff">
            <a>
                <i class="selected radio icon"></i>
                Студент
            </a>
        </div>
        <div class="item" ng-if="data.user.is_staff">
            <a>
                <i class="selected radio icon"></i>
                Преподаватель
            </a>
        </div>
        <div class="item" ng-if="data.user.is_superuser">
            <a>
                <i class="selected radio icon"></i>
                Администратор
            </a>
        </div>
    </div>
  </div>
</div>
{% endverbatim %}